.container{
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
}

label{
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    color: #333;
}

.in{
  width: 100%;
  height: 43px;
  margin-bottom: 20px;
}

h1{
    text-align: center;
    color: #333;
    margin-bottom: 60px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }
  
input[type="text"], input[type="date"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;     
  }
  textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    resize: vertical; 
  }

  button{
    width: 100%;
    padding: 12px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
  }
  button:hover{
    background-color: darkblue;
  }